# Ignore everything
**

# Allow files and directories
!/develop/te.Linux*
!/emulator/tef_em1d/Linux/**
!/emulator/tef_em1d/Image/**
!/emulator/tef_em1d/build/**
!/srcpkg/tkernel_source/**
!/docker-entrypoint.sh
!/T2EX/srcpkg/t2ex_source/**
!/src/**
!/wolf/*
!/uT-Kernel2.0/**

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/.DS_Store
